# Apple
.DS_Store
.AppleDouble

# Thumbnails
._*

# Logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules
public/css/*.bundle.css
public/js/*.bundle.js
public/**/*.map
public/**/*.html
.nyc_output

# Distribution
dist
