<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>single-website</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="./css/main.bundle.css" rel="stylesheet">
</head>
<body>
  <header class="header">
    header
  </header>
  <section class="about">
    about
  </section>
  <section class="works">
    works
  </section>
  <section class="skills">
    skills
  </section>
  <section class="contact">
    contact
  </section>
  <footer class="footer">
    footer
  </footer>

  <script src="./js/top.bundle.js"></script>
</body>
</html>
