<section class="contact">
  <h2 class="heading">CONTACT</h2>
  <form class="contact-form">
    <input type="text" name="name" placeholder="name">
    <textarea name="message" placeholder="message"></textarea>
    <input type="submit" value="SEND">
  </form>
</section>
