<header class="header">
  <p class="site-title-sub">Web designer's portfolio</p>
  <h1 class="site-title">HI, MY NAME IS ...</h1>
  <p class="site-description">Check out some of my works.</p>
  <div class="buttons">
    <a href="#about" class="button">LEARN MORE</a>
    <a href="#contact" class="button button-showy">SEND MESSAGE</a>
  </div>
</header>
